<form action="/signup" method="POST">
	<p>Username: <input type="text" name="user[username]"></p>
	<p>First name: <input type="text" name="user[fname]"></p>
	<p>Last name: <input type="text" name="user[lname]"></p>
	<p>E-mail: <input type="text" name="user[email]"></p>
	<p>Password: <input type="password" name="user[password]"></p>
	<p>Password confirmation: <input type="password" name="user[password_confirmation]"></p>
	<input type="submit">
</form>